.hero {
    background-color: $c-blue;
    padding-bottom: 197px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 34px;
    color: $c-gold;
  }
  .hero__wrapper {
    width: 452px;
    padding-top: 240px;
    position: relative;
    z-index: 100;
    padding-bottom: 200px;
  }
  .hero__picture {
    position: absolute;
    top: 103px;
    right: -55px;
  }
  .hero__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: $c-gold;
  }
  .hero__image {
    padding-bottom: 40px;
  }
  .hero__border {
    width: 60px;
    height: 2px;
    left: 161px;
    top: 472px;
    margin: 20px 0;
    background: $c-gold;
    border-radius: 2px;
  }
  .hero_tagline {
    font-size: 36px;
    line-height: 38px;
    color: $c-gold;
  }
  
  .hero_exclusive {
    width: 100%;
    position: relative;
    border: 5px solid $c-gold;
  }
  .hero_decorated {
    margin: 3px;
    border: 2px solid $c-gold;
  }
  .hero_tagline {
    text-align: center;
    padding-top: 105px;
    padding-bottom: 81px;
  }