<% var data = {
  title: "Jeff",
  author: "Bauyrzhan"
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>

<%= _.template(require('./../includes/hero.html').default)() %>
<%= _.template(require('./../includes/about.html').default)() %>
<%= _.template(require('./../includes/materials.html').default)() %>
<%= _.template(require('./../includes/process.html').default)() %>
<%= _.template(require('./../includes/steps.html').default)() %>
<%= _.template(require('./../includes/bag.html').default)() %>
<%= _.template(require('./../includes/cost.html').default)() %>
<%= _.template(require('./../includes/exclusive.html').default)() %>
<%= _.template(require('./../includes/actual.html').default)() %>

<%= _.template(require('./../includes/footer.html').default)(data) %>