$font-stack: ArnoPro-LightDisplay;
$c-gold: #d7ac82;
$c-blue: #192136;

@import "reset-css";

@font-face {
  font-family: "ArnoPro-LightDisplay";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ArnoPro-LightDisplay.otf) format("opentype");
}
@font-face {
  font-family: "ArnoPro-LightDisplay";
  font-style: bold;
  font-weight: 600;
  src: url(../fonts/ArnoPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: "ArnoPro-LightDisplay";
  font-style: bold;
  font-weight: 500;
  src: url(../fonts/ArnoPro-BoldDisplay.otf) format("opentype");
}

body {
  font-family: $font-stack;
  height: 100%;
}

.layout-center-wrapper {
  max-width: 960px;
  margin: 0 auto;

  &.--hero {
    background-image: url("../img/hero_section.jpg");
    background-repeat: no-repeat;
    background-position: 130% center;
    background-size: 80% 80%;
    padding: 240px 0;
  }

  &.--relative {
    position: relative;
  }
  &.--actual {
    position: relative;
  }
}

.--bold {
  font-weight: 600;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button {
  @include button-reset;
  padding: 18px 15px;
  text-transform: uppercase;
  background: #49577d;
  font-weight: 500;
  font-size: 12px;
  line-height: 8px;
}

@import "blocks";
