$font-stack: ArnoPro-LightDisplay;
$c-gold: #d7ac82;
$c-blue: #192136;

@import "reset-css";

@font-face {
  font-family: "ArnoPro-LightDisplay";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ArnoPro-LightDisplay.otf) format("opentype");
}

body {
  font-family: $font-stack;
  height: 100%;
}

.layout-center-wrapper {
  width: 960px;
  margin: 0 auto;

  &.--hero {
    background-image: url("../img/hero_section.jpg");
    background-repeat: no-repeat;
    background-position: 130% center;
    background-size: 80% 80%;
    padding: 240px 0;
  }

  &.--relative {
    position: relative;
  }
}

@import "blocks";

